<!DOCTYPE html>
<html>
  <head>
    <title>Turbochat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="min-h-full">
      <%= render 'shared/navbar' %>

      <header class="bg-white shadow">
        <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8 text-center">
          <h1 class="text-3xl font-bold tracking-tight text-blue-700">Test Chat with turbo and web sockets</h1>
        </div>
      </header>

      <main> 
        <%= audio_tag("notification.mp3", id: 'audio') %>
        <div class='flex'>
          <div class='grow-0 shrink-0 self-start w-72 top-13'>
            <div class='flex flex-col' id='toasts'></div>
          </div>

            <div class="grow max-w-7xl py-6 sm:px-6 lg:px-8">
              <div id='flash' class="flash">
                <%= render 'shared/flash' %>
              </div>

              <%= yield %>

              <%= turbo_stream_from('toasts') if current_user %>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
